.navbar {
    -fx-background-color: linear-gradient(to bottom right, #2e64bb, #a81830);
}

.close,
.add,
.save,
.clear,
.delete,
.refresh,
.print {
    -fx-background-color: linear-gradient(to bottom right, #2f466b, #662d60);
    -fx-background-radius: 3px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
}

.selected{
    -fx-border-color: rgb(216, 202, 76);
    -fx-border-width: 2;
}




.list-cell {

    -fx-text-fill: #fff;

    -fx-background-color: linear-gradient(to bottom right, #2f466b, #662d60);
}

.table-view .table-cell {
    -fx-text-fill: #000000;
}

.navbutton {
    -fx-background-color: linear-gradient(to bottom right, rgba(121, 172, 255, 0.2), rgba(255, 106, 239, 0.2));
    -fx-cursor: hand;
    -fx-alignment: CENTER-LEFT;
}

.navbutton:hover {
    -fx-background-color: linear-gradient(to bottom right, rgba(121, 172, 255, 0.7), rgba(255, 106, 239, 0.7));
}

.dasboard_box {
    -fx-background-color: linear-gradient(to bottom left, #2f466b, #662d60);
    -fx-background-radius: 30px;
}

/* Billing Pane */
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #2f466b, #662d60);
    -fx-border-radius: 8px;
    -fx-padding: 0px
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom right, #2f466b, #662d60);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 8px 8px 0px 0px;
}

.table-view .column-header,
.filter {
    -fx-background-color: transparent;
    -fx-size: 40;
}

.table-view .column-header .label {
    -fx-text-fill: #fff;
    -fx-font-family: "Arial"
}

.textfield {
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-border-color: linear-gradient(to bottom right, #2f466b, #662d60);
    -fx-border-width: .8px;
    -fx-font-family: "Tahoma";
    -fx-border-radius: 4px;
}

.textfield:focused {
    -fx-border-width: 1.8px;
    -fx-background-color: #fff;
}

.search-billing {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #2f466b, #662d60);
    -fx-border-radius: 4px;
    -fx-font-size: 13px;
    -fx-font-family: "Arial";
    -fx-border-width: 1px;
    -fx-padding: 0px 0px 0px 28px;
}

.search-billing:focused {
    -fx-border-width: 2px;
}


.svg-people{
    -fx-shape: "M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4";
    -fx-background-color: #fff;
    -fx-text-fill: #ccc;
}

.svg-book{
    -fx-shape: "M300-80q-58 0-99-41t-41-99v-520q0-58 41-99t99-41h500v600q-25 0-42.5 17.5T740-220t17.5 42.5T800-160v80zm-60-267q14-7 29-10t31-3h20v-440h-20q-25 0-42.5 17.5T240-740zm160-13h320v-440H400zm-160 13v-453zm60 187h373q-6-14-9.5-28.5T660-220q0-16 3-31t10-29H300q-26 0-43 17.5T240-220q0 26 17 43t43 17";
    -fx-background-color: #ccc;
}

.svg-customer{
    -fx-shape: "M400-480q-66 0-113-47t-47-113 47-113 113-47 113 47 47 113-47 113-113 47M80-160v-112q0-33 17-62t47-44q51-26 115-44t141-18h14q6 0 12 2-8 18-13.5 37.5T404-360h-4q-71 0-127.5 18T180-306q-9 5-14.5 14t-5.5 20v32h252q6 21 16 41.5t22 38.5zm560 40-12-60q-12-5-22.5-10.5T584-204l-58 18-40-68 46-40q-2-14-2-26t2-26l-46-40 40-68 58 18q11-8 21.5-13.5T628-460l12-60h80l12 60q12 5 22.5 11t21.5 15l58-20 40 70-46 40q2 12 2 25t-2 25l46 40-40 68-58-18q-11 8-21.5 13.5T732-180l-12 60zm40-120q33 0 56.5-23.5T760-320t-23.5-56.5T680-400t-56.5 23.5T600-320t23.5 56.5T680-240M400-560q33 0 56.5-23.5T480-640t-23.5-56.5T400-720t-56.5 23.5T320-640t23.5 56.5T400-560m12 320";
    -fx-background-color: #ccc;
}

.svg-rent{
    -fx-shape: "M204-318q-22-38-33-78t-11-82q0-134 93-228t227-94h7l-64-64 56-56 160 160-160 160-56-56 64-64h-7q-100 0-170 70.5T240-478q0 26 6 51t18 49zM481-40 321-200l160-160 56 56-64 64h7q100 0 170-70.5T720-482q0-26-6-51t-18-49l60-60q22 38 33 78t11 82q0 134-93 228t-227 94h-7l64 64z";
    -fx-background-color: #ccc;
}

.svg-add{
    -fx-shape: "M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160zm40 200q-83 0-156-31.5T197-197t-85.5-127T80-480t31.5-156T197-763t127-85.5T480-880t156 31.5T763-763t85.5 127T880-480t-31.5 156T763-197t-127 85.5T480-80m0-80q134 0 227-93t93-227-93-227-227-93-227 93-93 227 93 227 227 93m0-320";
    -fx-background-color: #ccc;
}

.svg-history{
    -fx-shape: "M120-560v-240h80v94q51-64 124.5-99T480-840q150 0 255 105t105 255h-80q0-117-81.5-198.5T480-760q-69 0-129 32t-101 88h110v80zm2 120h82q12 93 76.5 157.5T435-204l48 84q-138 0-242-91.5T122-440m412 70-94-94v-216h80v184l56 56zM719 0l-12-60q-12-5-22.5-10.5T663-84l-58 18-40-68 46-40q-2-13-2-26t2-26l-46-40 40-68 58 18q11-8 21.5-13.5T707-340l12-60h80l12 60q12 5 23 11.5t21 14.5l58-20 40 70-46 40q2 13 2 25t-2 25l46 40-40 68-58-18q-11 8-21.5 13.5T811-60L799 0zm40-120q33 0 56.5-23.5T839-200t-23.5-56.5T759-280t-56.5 23.5T679-200t23.5 56.5T759-120";
    -fx-background-color: #ccc;
}

.svg-doctor{
    -fx-shape: "M480-120q-18 0-34.5-6.5T416-146L148-415q-35-35-51.5-80T80-589q0-103 67-177t167-74q48 0 90.5 19t75.5 53q32-34 74.5-53t90.5-19q100 0 167.5 74T880-590q0 49-17 94t-51 80L543-146q-13 13-29 19.5t-34 6.5m40-520q10 0 19 5t14 13l68 102h166q7-17 10.5-34.5T801-590q-2-69-46-118.5T645-758q-31 0-59.5 12T536-711l-27 29q-5 6-13 9.5t-16 3.5-16-3.5-14-9.5l-27-29q-21-23-49-36t-60-13q-66 0-110 50.5T160-590q0 18 3 35.5t10 34.5h187q10 0 19 5t14 13l35 52 54-162q4-12 14.5-20t23.5-8m12 130-54 162q-4 12-15 20t-24 8q-10 0-19-5t-14-13l-68-102H236l237 237q2 2 3.5 2.5t3.5.5 3.5-.5 3.5-2.5l236-237H600q-10 0-19-5t-15-13z";
    -fx-background-color: #ccc;
}

.svg-prescription{
    -fx-shape: "M7 6h2v2h2v2H9v2H7v-2H5V8h2z M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v10.5a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 14.5V4a1 1 0 0 1-1-1zm2 3v10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V4zM3 3h10V1H3z";
    -fx-background-color: #ccc;
}

.svg-without-prescription{
    -fx-shape: "M7 6h2v2h2v2H9v2H7v-2H5V8h2z M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v10.5a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 14.5V4a1 1 0 0 1-1-1zm2 3v10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V4zM3 3h10V1H3z M12.8536 2.85355C13.0488 2.65829 13.0488 2.34171 12.8536 2.14645C12.6583 1.95118 12.3417 1.95118 12.1464 2.14645L7.5 6.79289L2.85355 2.14645C2.65829 1.95118 2.34171 1.95118 2.14645 2.14645C1.95118 2.34171 1.95118 2.65829 2.14645 2.85355L6.79289 7.5L2.14645 12.1464C1.95118 12.3417 1.95118 12.6583 2.14645 12.8536C2.34171 13.0488 2.65829 13.0488 2.85355 12.8536L7.5 8.20711L12.1464 12.8536C12.3417 13.0488 12.6583 13.0488 12.8536 12.8536C13.0488 12.6583 13.0488 12.3417 12.8536 12.1464L8.20711 7.5L12.8536 2.85355Z";
    -fx-background-color: #ccc;
}


.svg-buy{
    -fx-shape: "M475-160q4 0 8-2t6-4l328-328q12-12 17.5-27t5.5-30q0-16-5.5-30.5T817-607L647-777q-11-12-25.5-17.5T591-800q-15 0-30 5.5T534-777l-11 11 74 75q15 14 22 32t7 38q0 42-28.5 70.5T527-522q-20 0-38.5-7T456-550l-75-74-175 175q-3 3-4.5 6.5T200-435q0 8 6 14.5t14 6.5q4 0 8-2t6-4l136-136 56 56-135 136q-3 3-4.5 6.5T285-350q0 8 6 14t14 6q4 0 8-2t6-4l136-135 56 56-135 136q-3 2-4.5 6t-1.5 8q0 8 6 14t14 6q4 0 7.5-1.5t6.5-4.5l136-135 56 56-136 136q-3 3-4.5 6.5T454-180q0 8 6.5 14t14.5 6m-1 80q-37 0-65.5-24.5T375-166q-34-5-57-28t-28-57q-34-5-56.5-28.5T206-336q-38-5-62-33t-24-66q0-20 7.5-38.5T149-506l232-231 131 131q2 3 6 4.5t8 1.5q9 0 15-5.5t6-14.5q0-4-1.5-8t-4.5-6L398-777q-11-12-25.5-17.5T342-800q-15 0-30 5.5T285-777L144-635q-9 9-15 21t-8 24 0 24.5 8 23.5l-58 58q-17-23-25-50.5T40-590t14-54.5T87-692l141-141q24-23 53.5-35t60.5-12 60.5 12 52.5 35l11 11 11-11q24-23 53.5-35t60.5-12 60.5 12 52.5 35l169 169q23 23 35 53t12 61-12 60.5-35 52.5L545-110q-14 14-32.5 22T474-80m-99-560";
    -fx-background-color: #ccc;
}